<% @vendors.each do |vendor| %>

<% end %>
    <div class="til-left">
      <div class="med">
        <p class="fav">favorite</p>
        <a href="#">
          <img src="/assets/thumb-med.jpg" alt="thumb-med" width="290" height="250">
          <span>Jason &amp; Anna Photography</span>
        </a>
      </div>
      <div class="med">
        <a href="#">
          <img src="/assets/thumb-med.jpg" alt="thumb-med" width="290" height="250">
          <span>Jason &amp; Anna Photography</span>
        </a>
      </div>
      <div class="small">
        <a href="#">
          <img src="/assets/til-thumb.jpg" alt="til-thumb" width="184" height="157">
          <span>Jason &amp; Anna Photography</span>
        </a>
      </div>
      <div class="small">
        <a href="#">
          <img src="/assets//til-thumb.jpg" alt="til-thumb" width="184" height="157">
          <span>Jason &amp; Anna Photography</span>
        </a>
      </div>
      <div class="small">
        <a href="#">
          <img src="/assets/til-thumb.jpg" alt="til-thumb" width="184" height="157">
          <span>Jason &amp; Anna Photography</span>
        </a>
      </div>

    </div>

