<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/lib/html5shiv.js"><\/script>')</script>
  <![endif]-->
  <!--[if (gte IE 6)&(lte IE 8)]>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/lib/jquery-1.8.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="assets/lib/selectivizr.js"></script>
  <![endif]-->
</head>
<body>
  <!-- header -->
  <header role="banner">
    <nav class="top">
      <form action="">
        <input type="submit" />
        <input type="text" />
      </form>
      <ul class="social">
        <li class="twitter"><a href="#">twitter</a></li>
        <li class="pinterest"><a href="#">pinterest</a></li>
        <li class="facebook"><a href="#">facebook</a></li>
        <li class="email"><a href="#">email</a></li>
        <li class="rss"><a href="#">rss</a></li>
      </ul>
      <ul class="global">
        <li><a href="#">advertise</a></li>
        <li><a href="#">submit</a></li>
        <li><a href="#">contact</a></li>
      </ul>
    </nav>
    <h1 class="logo">Engaged &amp; Inspired</h1>
    <nav role="main" class="main">
      <ul>
        <li><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">bridal services</a></li>
        <li><a href="#">inspired guide</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">blog</a></li>
      </ul>
    </nav>
  </header>

  <!-- blog -->
  <div class="blog-container">
    <%= yield %>

    <!-- sidebar -->
    <aside>
      <a href="#"><img src="/assets/favs.jpg" alt="favs" width="300" height="100"></a>
    </aside>

    <aside class="vendors">
      <h3><p>Find Vendors</p></h3>
      <form action="">
        <h4>Location</h4>
        <input class="search" type="text" placeholder="any city" />

        <h4>Vendor Type</h4>
        <ul class="radio-group">
          <li><input type="radio" name="vendor" id="desserts"><label for="desserts">desserts</label></li>
          <li><input type="radio" name="vendor" id="photographers"><label for="photographers">photographers</label></li>
          <li><input type="radio" name="vendor" id="florists"><label for="florists">florists</label></li>
          <li><input type="radio" name="vendor" id="hair-makeup"><label for="hair-makeup">hair &amp; makeup</label></li>
          <li><input type="radio" name="vendor" id="event-planners"><label for="event-planners">event planners</label></li>
          <li><input type="radio" name="vendor" id="invitations"><label for="invitations">invitations</label></li>
          <li><input type="radio" name="vendor" id="caterers"><label for="caterers">caterers</label></li>
          <li><input type="radio" name="vendor" id="venues"><label for="venues">venues</label></li>
          <li><input type="radio" name="vendor" id="all"><label for="all">all vendors</label></li>
        </ul>
        <h4>Services:</h4>
        <ul class="radio-group">
          <li><input type="radio" name="service" id="full"><label for="full">full service planning</label></li>
          <li><input type="radio" name="service" id="partial"><label for="partial">partial service planning</label></li>
          <li><input type="radio" name="service" id="month-of"><label for="month-of">month-of coordination</label></li>
          <li><input type="radio" name="service" id="design"><label for="design">design services</label></li>
          <li><input type="radio" name="service" id="crafting"><label for="crafting">crafting</label></li>
        </ul>
        <h4>Featured on:</h4>
        <ul class="radio-group">
          <li><input type="radio" name="featured-on" id="style"><label for="style">style me pretty</label></li>
          <li><input type="radio" name="featured-on" id="green"><label for="green">green wedding shoes</label></li>
          <li><input type="radio" name="featured-on" id="layer"><label for="layer">100 layer cake</label></li>
          <li><input type="radio" name="featured-on" id="martha"><label for="martha">martha stewart</label></li>
          <li><input type="radio" name="featured-on" id="chicks"><label for="chicks">wedding chicks</label></li>
          <li><input type="radio" name="featured-on" id="brides"><label for="brides">brides magazine</label></li>
        </ul>
        <h4>Budget:</h4>
        <input class="min" type="text" placeholder="min budget" />
        <input class="max" type="text" placeholder="max budget" />
      </form>

      <p class="reset"><a href="#">reset filters</a></p>
    </aside>

    <!-- <aside class="ads">
      <img src="/assets/sponsors.jpg" alt="sponsors" width="300" height="100">
    </aside> -->
  </div>

  <!-- footer -->
  <footer>
    <ul>
      <li>( C ) 2011 Engaged &amp; Inspired</li>
      <li><a href="#">advertise</a></li>
      <li><a href="#">submit</a></li>
      <li><a href="#">services</a></li>
      <li><a href="#">contact</a></li>
    </ul>
  </footer>

</body>
</html>
